#card-shift .card-body{
    padding: .5rem;
}

#div-your-shift{
    margin: auto;
}

#div-your-shift *{
    margin-bottom: .25rem;
}

.div-warning{
    height: 100%;
}

.div-warning p:first-child{
    font-size: .75rem;
}

@media screen and (min-width: 768px){
    .div-warning > *{
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#shift-member-table{
    font-size: 1rem;
}

#shift-member-table .row{
    margin: 0;
}

#shift-member-table .row .row{
    margin: .1rem 0;
}

#shift-member-table .row > *{
    padding: 0;
}

#shift-member-table .d-flex > p{
    margin: auto;
}

#shift-member-table .list-group-item{
    padding: .25rem .25rem;
}

#shift-member-table .dropdown-menu{
    font-size: 1rem;
    min-width: 0rem;
}

#shift-member-table .dropdown-menu > *{
    padding: .25rem .5rem;
}

#card-shift .btn-sm{
    /* font-size: .75rem; */
    padding: .25rem .25rem;
}

#section-boards .col-md-6{
    margin-bottom: .5rem;
}

#section-boards .list-group a{
    display: block;
}
/* 
#section-boards .list-group a > span:first-child{
    float: left;
    margin-right: .5rem;
}

#section-boards .list-group a > span:last-child{
    float: right;
} */