body *{
    margin: 0;
    padding: 0;
}

.col-left{
    position: relative;
}

.div-schedule {
    position: absolute;
    width: 100%;
    height: 600px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-schedule .timeline {
    position: absolute;
    width: 100%;
    height: 100%;
}

.div-schedule .timeline ul{
    height: 100%
}

.div-schedule .timeline ul li {
    position: relative;
    font-size: .75rem;
    /* .div-schedule .timeline{height} / Number of timeline_valid */
    height: calc(600px / 12);
}

.div-schedule .timeline ul li::after {
    content: '';
    position: absolute;
    width: calc(100% - 40px);
    top: .5rem;
    left: 40px;
    height: 1px;
    background: rgb(200, 200, 200);
}

.div-schedule .div-columns {
    position: absolute;
    height: 100%;
    /* .div-schedule .timeline li::after{top} */
    top: .5rem;
    /* 100% -  .div-schedule .timeline li::after{left} */
    left: 40px;
    width: calc(100% - 40px);
    display: flex;
}
.div-schedule .div-columns .column{
    /* .div-schedule .div-columns{width} / Number of columns */
    width: calc(100% / 3);
    height: 100%;
}

.div-schedule .div-columns .column a.btn{
    position: absolute;
    width: calc(100% / 3);
    padding: 0;
}

@media screen and (max-width: 575px){
    .div-schedule .timeline ul li::after {
        left: 20px;
        width: calc(100% - 20px);
    }
    
    .div-schedule .div-columns{
        /* .div-schedule .timeline li::after{top} */
        top: .5rem;
        /* 100% -  .div-schedule .timeline li::after{left} */
        left: 20px;
        width: calc(100% - 20px);
        display: flex;
    }
}

@media screen and (max-width: 767px){
    .div-schedule {
        position: static;
        top: 0;
        left: 0;
        transform: none;
    }
}