nav{
    /* height: 3rem !important; */
}

.container{
    padding: 0 5%;
}

#section-quick-menu{
    margin-top: 4rem;
}

#section-quick-menu a{
    color: #000;
}

.quick-menu-item{
    display: inline-block;
    width: 32%;
}

.quick-menu-item .row:first-child{
    height: 3.5rem;
}

.quick-menu-item .row:last-child{
    height: 7rem;
}

.quick-menu-item h6{
    /* font-size: .7rem; */
    font-weight: bold;
    word-wrap: break-word;
}

.quick-menu-item p{
    font-size: .6rem;
}

.quick-menu-item .border{
    border-width: 2px !important;
}

.quick-menu-item > .row > .col-12{
    padding: .3rem .1rem;
}

#section-news{
    /* margin-top: 1rem; */
}

#section-news .list-group{
    text-align: left;
}

#section-news .list-group > a{
    padding: .5rem .75rem !important;
    /* height: 5rem; */
}

#section-news .list-group > a > span{
    /* display: block; */
}

#section-news .list-group > a > span:first-child{
    float: left;
    margin-right: .5rem;
}

#section-news .list-group > a > span:last-child{
    float: right;
    font-size: .7rem;
    line-height: 1.5rem;
    vertical-align: middle;
}

.section-title{
    /* justify-content: center; */
}

.section-title h5{
    display: inline-block;
}

.section-title img{
    float: right;
}
