.btn-sky{
    background-color: #6ddbdf;
    border-color: #6ddbdf;
}

.btn-sky:hover{
    background-color: #55acaf;
    border-color: #55acaf;
    transition: .3s;
}

#section-main .nav-tabs .nav-link{
    padding: .5rem .25rem;
    font-size: .75rem;
}

#section-main .tab-content .tab-pane{
    padding: 1rem 0;
}


#tab-content2 .div-search .btn{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.shift-member-table{
    font-size: 1rem;
}

.shift-member-table .row{
    margin: .25rem;
}

.shift-member-table .row > *{
    padding: 0;
}

.shift-member-table .d-flex > p{
    margin: auto;
}

.shift-member-table .list-group-item{
    padding: .25rem .25rem;
}

.shift-member-table .list-group-item .dropdown a{
    transition: 500ms;
}

.shift-member-table .list-group-item .dropdown a:hover{
    opacity: .7;
}

.shift-member-table .dropdown-menu{
    font-size: 1rem;
    min-width: 0rem;
}
    
.shift-member-table .dropdown-menu > *{
    padding: .25rem .5rem;
}

#accordion .div-country-flag {
    position: relative;
}

#accordion .div-country-flag img, #accordion .div-country-flag .div-num-lang{
    width: 2.5rem;
    height: 2.5rem;
    transition: 300ms;
}

#accordion .div-country-flag img{
    position: relative;
}

#accordion .div-country-flag .div-num-lang{
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    opacity: 0;
}
#accordion .div-country-flag:hover img{
    filter: brightness(30%);
    transition: 300ms;
}
#accordion .div-country-flag:hover .div-num-lang{
    opacity: 1;
    transition: 300ms;
}

#accordion .div-grid-lang{
    position: relative;
}

#accordion .div-grid-lang>p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px){
    .container{
        padding: 15px .5rem;
    }

    #section-main .nav-tabs .nav-link{
        padding: .5rem .25rem;
    }

    #accordion .card .card-body{
        padding: .5rem .25rem;
    }

    #div-columns .column a ul li{
        font-size: .75rem;
    }

    #accordion .div-grid-lang>p{
        font-size: .75rem;
    }

    #accordion .div-country-flag img, #accordion .div-country-flag .div-num-lang{
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px){
    .col-right .a-popover{
        display: block;
        left: unset;
        right: -6rem;
    }
}