#section-main{
    padding-top: 5rem;
}

#section-main .nav-tabs .nav-link{
    padding: .5rem .25rem;
    font-size: .75rem;
}

#section-main .tab-content .tab-pane{
    padding: 1rem 0;
}


#tab-content2 .div-search .btn{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.shift-member-table{
    font-size: 1rem;
}

.shift-member-table .row{
    margin: .25rem;
}

.shift-member-table .row > *{
    padding: 0;
}

.shift-member-table .d-flex > p{
    margin: auto;
}

.shift-member-table .list-group-item{
    padding: .25rem .25rem;
}

.shift-member-table .list-group-item .dropdown a{
    transition: 500ms;
}

.shift-member-table .list-group-item .dropdown a:hover{
    opacity: .7;
}

.shift-member-table .dropdown-menu{
    font-size: 1rem;
    min-width: 0rem;
}
    
.shift-member-table .dropdown-menu > *{
    padding: .25rem .5rem;
}

@media screen and (max-width: 575px){
    .container{
        padding: 15px .5rem;
    }

    #section-main .nav-tabs .nav-link{
        padding: .5rem .25rem;
    }

    #accordion .card .card-body{
        padding: .5rem .25rem;
    }

    #div-columns .column a ul li{
        font-size: .75rem;
    }
}