header{
    padding-top: 5rem;
}

form .form-item hr{
    margin-top: 0;
}

.div-label{
    position: relative;
}

.div-label label{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}